body {
  background-color: black;
  font-family: arial;
  margin: 0;
}

.container {
  padding-top: 50px;
  width: 100%;
  min-height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-image: url(../assets/background/stars.png), url(../assets/background/bg.png);
  background-position: center -170px;
  background-repeat: repeat-y;
  background-size: cover;
}

.orbit {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../assets/svg/circle.svg) no-repeat;
  background-position: center -1000px;
  background-size: auto 300%;
  width: 100%;
  height: 500px;
}

.logo {
  background: url(../assets/svg/sw_logo.svg) no-repeat;
  width: 115px;
  height: 50px;
  margin: 0 auto;
}

.header-1 {
  color: white;
  font-size: 31;
  margin-bottom: 5px;
}

.paragraph-1 {
  color: grey;
  font-size: 18;
  margin-top: 5px;
}

.character {
  width: 300px;
  margin: 10px auto;
}

.commander {
  margin: 50px auto 150px;
  text-align: center;
}

.character img {
  border: 2px solid white;
  border-radius: 50%;
}
